@page
@model Bion.Pages.SalongTwoModel


<h1>Nummer Två</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieShowTime[1].MovieScreeningTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieShowTime[1].AvailableSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieShowTime[1].MaxNumberSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieShowTime[1].Cinema)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieShowTime[1].Movie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MovieShowTime) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieScreeningTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxNumberSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cinema.CinemaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
            <td>
                <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.Id">Reserve</a> 
            </td>
        </tr>
}
    </tbody>
</table>
