@page
@model Bion.Pages.Admin.MovieShowTimeAdmin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MovieShowTime</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="MovieShowTime.MovieScreeningTime"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.MovieShowTime.MovieScreeningTime
        </dd>
        <dt class="col-sm-2">
            <label asp-for="MovieShowTime.AvailableSeats"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.MovieShowTime.AvailableSeats
        </dd>
        <dt class="col-sm-2">
            <label asp-for="MovieShowTime.MaxNumberSeats"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.MovieShowTime.MaxNumberSeats
        </dd>
        <dt class="col-sm-2">
            <label asp-for="MovieShowTime.Cinema.CinemaName"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.MovieShowTime.Cinema.CinemaName
        </dd>
        <dt class="col-sm-2">
            <label asp-for="MovieShowTime.Movie.Title"></label>
        </dt>
        <dd class="col-sm-10">
            @Model.MovieShowTime.Movie.Title
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.MovieShowTime.Id" class="btn btn-primary">Edit</a> 
    <a asp-page="./Index" class="btn btn-danger">Back to List</a>
</div>
