@page
@model Bion.Pages.Admin.MovieShowTimeAdmin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieShowTime[0].MovieScreeningTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieShowTime[0].AvailableSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieShowTime[0].MaxNumberSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieShowTime[0].TicketPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieShowTime[0].Cinema)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieShowTime[0].Movie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MovieShowTime) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieScreeningTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxNumberSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cinema.CinemaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
