@page
@model Bion.Pages.Admin.MovieShowTimeAdmin.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" class="btn btn-primary ">Create New</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Play Time
            </th>
            <th>
                Available Seats
            </th>
            <th>
                Max Numbers Of Seats
            </th>
            <th>
                Cinema Name
            </th>
            <th>
                Movie Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MovieShowTime)
        {
            <tr>
                <td>
                    @item.MovieScreeningTime:00
                </td>
                <td>
                    @item.AvailableSeats
                </td>
                <td>
                    @item.MaxNumberSeats
                </td>
                <td>
                    @item.Cinema.CinemaName
                </td>
                <td>
                    @item.Movie.Title
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> 
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> 
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
