@page
@model Bion.Pages.SalongOneModel

@{
    ViewData["Title"] = "SalongOne";
}

<h1>Salong Ett</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MovieShowTime[0].MovieScreeningTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieShowTime[0].AvailableSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieShowTime[0].MaxNumberSeats)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieShowTime[0].Cinema)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovieShowTime[0].Movie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MovieShowTime) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MovieScreeningTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxNumberSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cinema.CinemaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Title)
            </td>
            <td>
                <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.Id">Reserve</a> 
            </td>
        </tr>
}
    </tbody>
</table>
