@page
@model Bion.Pages.SalongOneModel

<h1>Salong Ett</h1>

<table class="table table-bordered table-striped " id="myTable">
    <thead>
        <tr>
            <th>
                Movie Screening Time
            </th>
            <th>
                Available Seats
            </th>
            <th>
                Cinema Name
            </th>
            <th>
                Movie
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MovieShowTime)
        {
            <tr>
                <td>
                    @item.MovieScreeningTime:00
                </td>
                <td>
                    @item.AvailableSeats
                </td>
                <td>
                    @item.Cinema.CinemaName
                </td>
                <td>
                    @item.Movie.Title
                </td>
                @if (item.AvailableSeats > 0)
                {
                    <td>
                        <a class="btn btn-primary" asp-page="/Bookings/Bookings" asp-route-id="@item.Id">Reserve</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@section Scripts{
<script src="~/js/loadItems.js" asp-append-version="true"></script>
}